<section>
  <div class="container">
    <app-video-thumbnail *ngFor="let video of videos"
      class="video"
      [class.highlighted]="selected === video"
      (click)="select(video)" 
      [video]="video"
    ></app-video-thumbnail>
  </div>
</section>
