.video {
  padding: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(0, 82, 82);
  color: white;
  font-size: 1.2rem;
}

.highlighted {
  background-color: rgb(0, 204, 204);
  color: black;
}
