<section>
  <div class="container">
    <form [formGroup]="filterDetails">
      <input type="number" formControlName="minAge">
      <input type="number" formControlName="maxAge">
    </form>
  </div>
</section>
