.thumbnail {
  width: 100%;
  grid-column: 1 / 2;
  border-radius: 5px;
}

.title {
  text-align: center;
  grid-column: 3 / 4;
}

@media screen and (max-width: 600px) {
  .thumbnail, .title {
    grid-column: 1 / 4;
  }
}
