<ng-container>
  <img class="thumbnail" [src]="'https://img.youtube.com/vi/' + video.id + '/hqdefault.jpg'">
  <div class="title">
    <p>{{video.title}}</p>
    <p>By: {{video.author}}</p>
  </div>
</ng-container>
