<nav>
  <div class="header">
    <a>Video Statistic Tracker Workshop</a>
  </div>
  <div class="info">
    <a routerLink="dashboard">More Things</a>
    <a routerLink="dashboard">User Stuff</a>
  </div>
</nav>
<router-outlet></router-outlet>
