<div class="container">
  <div class="grid">
    <app-video-list class="left"
      [videos]="videoList | async"
      [selected]="selectedVideo"
      (clickedVideo)="selectVideo($event)"
    ></app-video-list>
    <div class="middle">
      <app-video-player [video]="selectedVideo" class="video-player"></app-video-player>
      <app-stat-display [views]="viewList" class="stat-display"></app-stat-display>
    </div>
    <app-stat-filters (filtersChanged)="setFilter($event)" class="right"></app-stat-filters>
  </div>
</div>
