.grid {
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
}

.left {
  grid-column: 1 / 2;
}

.middle {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 350px 10px auto;
}

.right {
  grid-column: 5 / 6;
}

.video-player {
  grid-row: 1 / 2;
}

.stat-display {
  grid-row: 3 / 4;
}

@media screen and (max-width: 600px) {
  .left, .middle, .right {
    margin-bottom: 20px;
    grid-column: 1 / 6;
  }
}
