/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #9d9d9d;
}

section {
  width: 100%;
  min-height: 100px;
  box-shadow: 2px 2px 5px #4d4d4d;
  background-color: teal;
  border-radius: 5px;
}

.container {
  padding: 10px;
}
