<section class="wrapper">
  <div class="container">
    <video class="player" controls="true"></video>
    <p class="title">{{video?.title}}</p>
    <p class="author">By: {{video?.author}}</p>
  </div>
</section>
